@{
    ViewData["Title"] = "Index";
}

<h1 style="font-size: 2rem">About Nick Lawson</h1>
<p>I'm a 4th year software developer and game designer at the University of Cincinnati.</p>
<p>My hobbies include weightlifting, poker, chess, creativity, and sports.</p>
<p>My favorites movies are: Catch me if you can, The Departed, Shawshank Redemption, and The Revenant.</p>
<img src="css/nickpic.jpg" alt="Nick" width="350" height="500"/>



