################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WSAFinalProject/.vs/WSAFinalProject/v16
/WSAFinalProject/WSAFinalProject/obj
