################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WSAFinalProject/.vs/WSAFinalProject/v16
/WSAFinalProject/WSAFinalProject/obj
/WSAFinalProject/.vs/WSAFinalProject/config
/WSAFinalProject/WSAFinalProject/bin/Debug/netcoreapp3.1
