@{
    ViewData["Title"] = "Index";
}

<h1 style="font-size: 2rem">About Henry Hardee</h1>
<p>I'm a senior majoring in Cybersecurity and Software Development at the University of Cincinnati.</p>
<p>My hobbies include writing, tv, hiking, and reading.</p>
<p>My favorites movies are: Hackers (1995) and Gandhi (1982).</p>
<img src="css/henrypic.jpg" alt="Ryan" width="200" height="200"/>



