@{
    ViewData["Title"] = "Index";
}

<h1 style="font-size: 2rem">About Molly Bischoff</h1>
<p>I'm a senior software developer student at the University of Cincinnati.</p>
<p>My hobbies include Cards, video games, anime, and pikkleball.</p>
<p>My favorites movies are: The Lord of the Rings Trology and Princess Mononoke.</p>
<img src="css/Ryanpic.jpg" alt="Ryan" width="400" height="600"/>



