@{
    ViewData["Title"] = "Index";
}

<h1 style="font-size: 2rem">About Josh Anness</h1>
<p>I'm a 2nd year software developer and business student at the University of Cincinnati.</p>
<p>My hobbies include sports, weightlifting, stocks, crypto, and video games.</p>
<p>My favorites movies are: The Natural and Saving Private Ryan.</p>
<img src="css/joshpic.png" alt="Josh" width="400" height="600"/>



